{% extends "learning_logs/base.html" %}
{% block content %}
<p>Добро пожаловать на платформу "журнал обучения"! Данная платформа, созданная в учебных целях, поможет вам делать записи по интересующим вас
темам. </p>
<p>У Вас будет возможность создавать общие записи для всех пользователей и индивидуальные, скрытые и защищённые от допуступа других пользователей, так-же Вы сможете редактировать и удалять только свои темы и записи в общих темах.</p>
<p>Для использования ресурса, пожалуйста, зарегистрируйтесь или войдите в свой аккаунт</p>
<p>P.S. Платформа создавалась для изучения внутренней логики работы сайтов, поэтому визуальная составляющая была отведена на второй план. </p>
{% endblock content %}