{% extends "learning_logs/base.html" %}
{% block content %}
  <p>Тема:{{ topic }}</p>
<!--the delete topic button is visible only for own themes-->
  {% if topic.owner == request.user %}
    <a href="{% url 'learning_logs:del_topic' topic.id %}">удалить тему</a>
  {% else %}
  {% endif %}
  <p>Записи:</p>
<!--create a new entry button-->
  <form action="{% url 'learning_logs:new_entry' topic.id %}" method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Добавить запись">
</form> 
  <ul>
  {% for entry in entries %}
    <li>
<!--list of entries-->
      <p>{{ entry.data_added|date:'M d, Y H:i' }}-
{{entry.user_for_public}}</p>
      <p>{{ entry.text|linebreaks }}</p>
      <p>
<!--the delete and edit button is visible only for own entries-->
	{% if entry.user_for_public == request.user %}
	  <a href="{% url 'learning_logs:edit_entry' entry.id %}">ред.</a>
	  <a href="{% url 'learning_logs:del_entry' entry.id %}">удал.</a>
	{% else %}
	{% endif %}
      </p>
    </li>  
  {% empty %}
    <li>Пока нет записей.</li>
    {% endfor %}
  </ul>

{% endblock content %}
